@import "tailwindcss";

@theme {
  --font-sans: "Vazir", ui-sans-serif, system-ui;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-FD-WOL.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-Bold-FD-WOL.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: var(--font-sans);
  @apply antialiased bg-slate-50 text-slate-900;
}